pandas==2.3.1
scipy==1.15.0
sqlalchemy==2.0.41
psycopg2-binary==2.9.10
pydantic==2.11.7
pydantic-settings==2.10.1
fastapi==0.116.1
uvicorn==0.35.0
prometheus-fastapi-instrumentator
prometheus_client
typer
orbipy
setuptools==69.5.1
redis
pytest
yadisk
requests
